{% extends "admin/base_site.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block content %}
<div id="content-main">
    <h1>OER Source Harvest</h1>
    <div class="module">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <p>This form allows you to initiate the harvesting process for an OER source.</p>
            <div class="submit-row">
                <input type="submit" value="Initiate Harvest" class="btn btn-primary" name="_save">
            </div>
        </form>
    </div>
</div>
{% endblock %}